<app-header backButton="/auth" title="Get password"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">
      
      <app-logo></app-logo>
      <p>Enter your email</p>

      <app-login-input 
      autocomplete="email"
      type="email"
      label="email"
      icon="mail-outline"
      [control]="form.controls.email"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <p *ngIf="form.controls.email.errors?.['required']">Email is required</p>
        <p *ngIf="form.controls.email.errors?.['email']">Invalid email format</p>
      </div>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="outline" [disabled]="form.invalid">
        Get password
        <ion-icon name="mail"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>