<app-header [showMenu]="true" title="Home"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let employee of employees">
      <ion-item>

        <ion-avatar slot="start">
          <img [src]="employee.img" alt="employee img">
        </ion-avatar>

        <ion-label>
          <div class="name">{{employee.name}}</div>
          <div class="data">
            <strong>Salary: </strong>{{employee.salary| currency: 'USD'}} <br>
            <strong>Position: </strong>{{employee.position}} <br>
            <strong>Staff: </strong>{{employee.staff}} <br>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">

        <ion-item-option (click)="addUpdateEmployee(employee)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option color="danger" (click)="confirmDeleteEmployee(employee)">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item-sliding class="product-item" *ngFor="let employee of [1,1,1,1,1,1]">
      <ion-item>

        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%"></ion-skeleton-text>
        </ion-avatar>

        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div class="empty" *ngIf="!loading && !employees.length">
    <ion-icon name="diamond-outline"></ion-icon>
    <h2>There is no employee</h2>
  </div>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addUpdateEmployee()" color="primary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
