<app-header backButton="/auth" title="Check In"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">
      
      <app-logo></app-logo>

      <app-login-input 
      autocomplete="name"
      type="text"
      label="name"
      icon="person-outline"
      [control]="form.controls.name"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <p *ngIf="form.controls.name.errors?.['required']">Name is required</p>
        <p *ngIf="form.controls.name.errors?.['minLength']">The name must be at least five characters long</p>
      </div>

      <app-login-input 
      autocomplete="email"
      type="email"
      label="email"
      icon="mail-outline"
      [control]="form.controls.email"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <p *ngIf="form.controls.email.errors?.['required']">Email is required</p>
        <p *ngIf="form.controls.email.errors?.['email']">Invalid email format</p>
      </div>

      <app-login-input
      type="password"
      label="password"
      icon="lock-closed-outline"
      [control]="form.controls.password"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <p *ngIf="form.controls.password.errors?.['required']">password is required</p>
        <p *ngIf="form.controls.password.errors?.['minLength']">The password must be at least six characters long</p>
      </div>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="outline" [disabled]="form.invalid">
        Check In
      </ion-button>

    </form>
  </div>
</ion-content>